<html><head>
  <title>Photogram</title>
  <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css">
  <script src="/assets/application-10ae9348133c44590cf059bf8209124a94861ffcdd12b0642fc4b33b072cad4d.js"></script>
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="2/JFOqJDelV8gkvob7hChJ/Cjk7/jA+w3IXyusP81UMVmnK0WYSKCyvIe41A1r41diBT2JMIBLHCHKOhg7fbrQ==">
</head>
<body>

<h1>Photo Details</h1>

<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Lanzarote_5_Luc_Viatour.jpg/1280px-Lanzarote_5_Luc_Viatour.jpg" width="720">

<p>Cueva de los Verdes</p>

<a href="/photos">Back</a>
<a href="/photos/67/edit">Edit</a>
<a href="/delete_photo/67">Delete</a>




</body></html>
